<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cisneros.nota">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        android:roundIcon="@mipmap/ic_launcher_round">

        <!-- No android:name: NO conviene apuntar a cisneros.nota.ui.App (es Composable) -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
